{% extends "layout.html" %}
{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class='form-control'>
      {{ form.track_name.label }}
      {% if form.track_name.errors %}
        {{ form.track_name }}
        <ul class=errors>
        {% for error in form.track_name.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.track_name }}
      {% endif %}
    </div>
    
    <div class='form-control'>
      {{ form.track_length.label }}
      {% if form.track_length.errors %}
        {{ form.track_length }}
        <ul class=errors>
        {% for error in form.track_length.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.track_length }}
      {% endif %}
    </div>
 
    <div class='form-control'>
      {{ form.album_id.label }}
      {% if form.album_id.errors %}
        {{ form.album_id }}
        <ul class=errors>
        {% for error in form.album_id.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.album_id }}
      {% endif %}
    </div>

    {{ form.submit() }}
  </form>
{% endblock content %}