{% extends "layout.html" %}
{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class='form-control'>
      {{ form.member_name.label }}
      {% if form.member_name.errors %}
        {{ form.member_name }}
        <ul class=errors>
        {% for error in form.member_name.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.member_name }}
      {% endif %}
    </div>
    
    <div class='form-control'>
      {{ form.instrument.label }}
      {% if form.instrument.errors %}
        {{ form.instrument }}
        <ul class=errors>
        {% for error in form.instrument.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.instrument }}
      {% endif %}
    </div>

    <div class='form-control'>
      {{ form.birthdate.label }}
      {% if form.birthdate.errors %}
        {{ form.birthdate }}
        <ul class=errors>
        {% for error in form.birthdate.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.birthdate }}
      {% endif %}
    </div>
    {{ form.submit() }}
  </form>
{% endblock content %}