{% extends "layout.html" %}
{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class='form-control'>
      {{ form.city.label }}
      {% if form.city.errors %}
        {{ form.city }}
        <ul class=errors>
        {% for error in form.city.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.city }}
      {% endif %}
    </div>
    
    <div class='form-control'>
      {{ form.set_list_id.label }}
      {% if form.set_list_id.errors %}
        {{ form.set_list_id }}
        <ul class=errors>
        {% for error in form.set_list_id.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% else %}
        {{ form.set_list_id }}
      {% endif %}
    </div>
    {{ form.submit() }}
  </form>
{% endblock content %}