<!DOCTYPE html>
<html>
  <head>
    <title>Add a Track</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Add a Track </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>
<form method="POST" action="/add_track_new">
    Track Name <input type="text" name="track_name" required />
    <br>
    Track Length <input type="number" step = "0.01" min = "0" name="track_length" required />
    <br>
    Album Name <select name="Album_ID" >
		{% for A in albums %}	
			<option class = "dropdown" value = "{{A[0]}}">{{A[1]}}</option>
		{% endfor %}
	</select>	
    <br>
	<input type="submit">
  </form>
 </body>
 <html>