{% extends "layout.html" %}
{% block content %}
	<table style="width:75%" table border="1" table align = "center">
	  <thead>
	    <th>Album ID</th>
	    <th>Album Name</th>
	    <th>Release Date</th>
	  </thead>
	  <tbody>
		<tr>
			<td>{{ row.id }}</td>
			<td>{{ row.album_name }}</td>
			<td>{{ row.release_date }}</td>
		</tr>
	   </tbody>
	</table>
	<br>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
	    <div class='form-control'>
	      {{ form.album_name.label }}
	      {% if form.album_name.errors %}
	        {{ form.album_name }}
	        <ul class=errors>
	        {% for error in form.album_name.errors %}
	          <li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	      {% else %}
	        {{ form.album_name }}
	      {% endif %}
	    </div>
	
	    <div class='form-control'>
	      {{ form.release_date.label }}
	      {% if form.release_date.errors %}
	        {{ form.release_date }}
	        <ul class=errors>
	        {% for error in form.release_date.errors %}
	          <li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	      {% else %}
	        {{ form.release_date }}
	      {% endif %}
	    </div>

		{{ form.submit() }}
	</form>
{% endblock content %}