{% extends "layout.html" %}
{% block content %}
  <table style="width:75%" table border="1" table align = "center">
    <thead>
      <th>Album ID</th>
      <th>Album Name</th>
      <th>Release Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
  	  {% for r in rows %}
  	    <tr>
        	<td>{{ r.id }}</td>
        	<td>{{ r.album_name }}</td>
        	<td>{{ r.release_date }}</td>
  	    	<td><input type="button" name = "Edit" value = "Edit" onclick = "window.location='/update_album/{{ r.id }}'"></td>
  	    	<td><input type="button" name = "Delete" value = "Delete" onclick = "window.location='/delete_album/{{ r.id }}'"></td>
  	    </tr>
  	  {% endfor %}
  	</tbody>	
  </table>
  <br>
  <br>
  <a href="{{ url_for('insert.add_album') }}"><button type="button">Add</button></a>
{% endblock content %}