<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />

  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Tool Database</title>
  {% endif %}
</head>
<body>
  {% if header %}
    <h1> {{ header }} </h1>
  {% else %}
    <h1>Tool Database</h1>
  {% endif %}
    <nav class = "myMenu">
        <ul>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
        	<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
        </ul>
    </nav>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>