<!DOCTYPE html>
<html>
  <head>
    <title>Update Set List</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Update Set List </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>
<table style="width:75%" table border="1" table align = "center">
  <thead>
    <th>Line Up ID</th>
	<th>Show City</th>
    <th>Track ID</th>
	<th>Track Name</th>
  </thead>
  <tbody>
	{% for r in row %}
	<tr>
		<td>{{r[1]}}</td>
		<td>{{r[2]}}</td>
		<td>{{r[3]}}</td>
		<td>{{r[4]}}</td>
  </tr>
	{% endfor %}
</tbody>
</table>
<br>
 <form method="POST" action="/update_set_list/{{setlist.0}}">
 <input type="hidden" name="setlist_id" value = "{{setlist.0}}">
	Track Name <select name="track_id">
       {% for t in track_id %}
         <option value="{{t[0]}}">{{t[1]}}</option>
       {% endfor %}
	</select><br>
	<br>
    <input type="submit">
  </form>
 </body>
 <html>