{% extends "layout.html" %}
{% block content %}
	<table style="width:75%" table border="1" table align = "center">
		<thead>
		  <th>Line Up ID</th>
		  <th>Show City</th>
		  <th>Track ID</th>
		  <th>Track Name</th>
		  <th>Edit</th>
		  <th>Delete</th>
		</thead>
		<tbody>
		  {% for r in rows %}
		  	<tr>
			  <td>{{ r[1] }}</td>
			  <td>{{ r[2] }}</td>
			  <td>{{ r[3] }}</td>
			  <td>{{ r[4] }}</td>
			  <td><input type="button" name = "Edit" value = "Edit" onclick = "window.location='/update_set_list/{{ r.id }}'"></td>
			  <td><input type="button" name = "Delete" value = "Delete" onclick = "window.location='/delete_set_list/{{ r.id }}'"></td>
			</tr>
		  {% endfor %}
		</tbody>
	</table>
	<br>
	<br>
	<a href="http://flip3.engr.oregonstate.edu:3975/add_set_list"><button type="button">Add</button></a>  
{% endblock content %}