{% extends "layout.html" %}
{% block content %}	
	<table style="width:75%" table border="1" table align = "center">
	  <thead>
	    <th>Set List ID</th>
	    <th>City</th>
	    <th>Edit</th>
	    <th>Delete</th>
	  </thead>
	  <tbody>
		{% for r in rows %}
	  		<tr>
				<td>{{r.id}}</td>
				<td>{{r.city}}</td>
				<td><input type="button" name = "Edit" value = "Edit" onclick = "window.location='/update_show/{{ r.id }}'"></td>
				<td><input type="button" name = "Delete" value = "Delete" onclick = "window.location='/delete_show/{{ r.id }}'"></td>
	  		</tr>
		{% endfor %}
	  </tbody>
	</table>
	<br>
	<br>
	<a href="{{ url_for('insert.add_shows') }}"><button type="button">Add</button></a>
{% endblock content %}