{% extends "layout.html" %}
{% block content %}
	<table style="width:75%" table border="1" table align = "center">
	  <thead>
	    <th>Track ID</th>
	    <th>Track Name</th>
	    <th>Track Length</th>
	    <th>Album ID</th>
	    <th>Edit</th>
	    <th>Delete</th>
	  </thead>
	  <tbody>
		{% for r in rows %}
			<tr>
				<td>{{ r.id }}</td>
				<td>{{ r.track_name }}</td>
				<td>{{ r.track_length }}</td>
				<td>{{ r.album_id }}</td>
				<td><input type="button" name = "Edit" value = "Edit" onclick = "window.location='/update_track/{{ r.id }}'"></td>
				<td><input type="button" name = "Delete" value = "Delete" onclick = "window.location='/delete_track/{{ r.id }}'"></td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>
	<br>
	<br>
	<a href="{{ url_for('insert.add_track') }}"><button type="button">Add</button></a>
	<br>
	<br>
		<p>Use the search function below to retrieve Set List, Show information etc for a particular Track </p>
	<br>
	<br>
		<form method="POST" action="/search"> Search by Track ID <input type="text" name="Search" />
		<button type="submit">Search</i></button>
		</form>
	<br>
{% endblock content %}