{% extends "layout.html" %}
{% block content %}
	<table style="width:75%" table border="1" table align = "center">
	  <thead>
	    <th>Track ID</th>
	    <th>Track Name</th>
	    <th>Track Length</th>
	    <th>Album ID</th>
	  </thead>
	  <tbody>
		<tr>
			<td>{{ row.id }}</td>
			<td>{{ row.track_name }}</td>
			<td>{{ row.track_length }}</td>
			<td>{{ row.album_id }}</td>
		</tr>
		</tbody>
	</table>
	<br>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
	    <div class='form-control'>
	      {{ form.track_name.label }}
	      {% if form.track_name.errors %}
	        {{ form.track_name }}
	        <ul class=errors>
	        {% for error in form.track_name.errors %}
	          <li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	      {% else %}
	        {{ form.track_name }}
	      {% endif %}
	    </div>
	
	    <div class='form-control'>
	      {{ form.track_length.label }}
	      {% if form.track_length.errors %}
	        {{ form.track_length }}
	        <ul class=errors>
	        {% for error in form.track_length.errors %}
	          <li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	      {% else %}
	        {{ form.track_length }}
	      {% endif %}
	    </div>
	
	    <div class='form-control'>
	      {{ form.album_id.label }}
	      {% if form.album_id.errors %}
	        {{ form.album_id }}
	        <ul class=errors>
	        {% for error in form.album_id.errors %}
	          <li>{{ error }}</li>
	        {% endfor %}
	        </ul>
	      {% else %}
	        {{ form.album_id }}
	      {% endif %}
	    </div>

		{{ form.submit() }}
	</form>
{% endblock content %}