<!DOCTYPE html>
<html>
  <head>
    <title>Add a Track</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Add a Track Contributor </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>
<form method="POST" action="/add_track_contributors_new">
	Track Name <select name="track_id">
       {% for n in track_name %}
         <option value="{{n[0]}}">{{n[1]}}</option>
       {% endfor %}
	</select><br>
	 Band Member Name <select name="Band_Member_ID" >
		{% for a in members_name %}	
			<option class = "dropdown" value = "{{a[0]}}">{{a[1]}}</option>
		{% endfor %}
	</select><br>
	<input type="submit">	
  </form>
 </body>
 <html>