<!DOCTYPE html>
<html>
  <head>
    <title>Add an Album</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
 <h1>Add an Album </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>
<form method="POST" action="/add_album_new">
    Album Name <input type="text" name="Album_Name" required />
    <br>
    Release Date <input type="date" name="Release_Date" required />
    <br>
    <input type="submit">
  </form>
  </body>
 <html>