<!DOCTYPE html>
<html>
  <head>
    <title>Track</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename= 'css/style.css')}}" />
  </head>
  <body>
 <h1>Track Table </h1>
<nav class = "myMenu">
		<ul>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/">Home</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/set_list">Set Lists</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/shows">Shows</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/album">Albums</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track">Tracks</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/band_members">Band Members</a></li>
			<li><a href="http://flip3.engr.oregonstate.edu:3975/track_contributors">Track Contributors</a></li>
		</ul>
	</nav>
<br>	
<table style="width:75%" table border="1" table align = "center">
  <thead>
    <th>Track ID</th>
    <th>Track Name</th>
    <th>Track Length</th>
    <th>Album ID</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
	{% for r in rows %}
	<tr>
		<td>{{r.0}}</td>
		<td>{{r[1]}}</td>
		<td>{{r[2]}}</td>
		<td>{{r[3]}}</td>
		<td><input type="button" name = "Edit" value = "Edit" onclick = "window.location='/update_track/{{r.0}}'"></td>
		<td><input type="button" name = "Delete" value = "Delete" onclick = "window.location='/delete_track/{{r.0}}'"></td>
	</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<br>
<a href="http://flip3.engr.oregonstate.edu:3975/add_track"><button type="button">Add</button></a>
<br>
<br>
	<p>Use the search function below to retrieve Set List, Show information etc for a particular Track </p>
<br>
<br>
	<form method="POST" action="/search"> Search by Track ID <input type="text" name="Search" />
	<button type="submit">Search</i></button>
	</form>
<br>
 </body>